@import './variables';
@import './mixins';

.account {
  width: 100%;
  padding: 1%;
  margin-top: 100px;
  & > h2 {
    text-align: center;
  }
  &__main {
    display: flex;
    width: 100%;
    &__nav {
      border: 1px solid red;
      width: 20%;
      height: 80vh;
      & > * {
        list-style: none;
        cursor: pointer;
      }
    }
    &__content {
      border: 1px solid red;
      width: 80%;
      height: 80vh;
    }
  }
  &__logout {
    &__logoutBtn {
      width: 100px;
      height: 50px;
    }
    &__layout {
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(black, 0.8);
    }
    @include confirmBox;
  }
}
