@import '../styles/variables';
@import '../styles/mixins';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

.product {
  @include product;
  margin-top: 100px;
  &__card {
    &__gallery {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
  &__mainImage {
    margin-top: 10%;
    width: 100%;
    height: 300px;
    background: rgba(#000, 0.2);
  }
  // &__thumbnail {
  //   display: flex;
  //   gap: 5px;

  //   &__image {
  //     flex: 0 0 auto;
  //     width: 100px;
  //     height: 100px;
  //     & img {
  //       width: 100%;
  //       height: 100% !important;
  //       object-fit: cover;
  //     }
  //   }
  // }

  &__thumbnail {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 5px;
    &__image {
      flex: 0 0 auto;
      width: 100px;
      height: 100px;
      & img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
      }
    }
    & > * {
      & > img {
        width: 100%;
        height: 66vh;
        object-fit: cover;
      }
    }
    & > button {
      position: fixed;
      z-index: 5;
    }
  }
  &__prevBtn {
    top: 40%;
    left: 0;
    width: 50px;
    height: 25px;
  }
  &__nextBtn {
    top: 40%;
    right: 0;
    width: 50px;
    height: 25px;
  }
}
