@import '../styles/variables';
@import '../styles/mixins';

@include form;

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 75px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 100%;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__filter {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      flex-wrap: nowrap;
      width: 100%;
      padding: 0 1%;
      & > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &__products {
      &__product {
        position: relative;
        @include product;
        &__buttons {
          position: absolute;
          bottom: 10%;
          right: 5%;
          &__modifyBtn {
            display: flex;
            gap: 5%;
          }
        }
      }
    }
  }
}
